<div class="app-header__main-container">
  <div class="app-header__grid">
    <a class="app-header__logo-container" routerLink="/home">
      <h3 class="app-header__logo-text">blahget</h3>
    </a>

    <h4 class="app-header__username">{{ username | lowercase }}</h4>

    <div class="btn-group dropstart app-header__login-button">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="../../assets/me.jpg"
          alt=""
          class="d-inline-block align-text-top app-header__avatar"
        />
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/new">new</a></li>
        <li><a class="dropdown-item" routerLink="/profile">profile</a></li>
        <li><a class="dropdown-item" routerLink="/about">about</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" routerLink="/preferences">preferences</a></li>
        <li><a class="dropdown-item" (click)="onLogout()">logout</a></li>
      </ul>
    </div>
  </div>
</div>
