<nav class="navbar navbar-expand-lg navbar-light header-background app-header">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <h3 class="header__logo-text">blahget</h3>
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="/home">home</a>
        <a class="nav-link" routerLink="/about">about</a>
      </div>
    </div>

    <ul *ngIf="url != 'auth'" class="nav navbar-nav navbar-right">
      <li>
          <button class="btn btn-primary" routerLink="/auth" >log in</button>
      </li>
    </ul>

  </div>
</nav>
