<nav class="app-header__main-container">
  <!-- <div class="container-fluid"> -->

  <div class="app-header__grid">
    <a class="app-header__logo-container" routerLink="/home">
      <h3 class="app-header__logo-text">blahget</h3>
    </a>

    <div class="app-header__links-1">
      <a routerLink="/home">home</a>
    </div>
    <div class="app-header__links-2">
      <a routerLink="/about">about</a>
    </div>

    <button *ngIf="url != 'auth'" class="btn btn-primary app-header__login-button" routerLink="/auth">
      log in
    </button>
  </div>

  <!-- </div> -->
</nav>
