<div class="footer__main-container">
  <section class="footer-logo">
    <h1>blaghet</h1>
  </section>

  <section class="footer-copyright">
    <p>copyright &copy; 2021 jmk</p>
  </section>

  <section class="footer-socials">
    <a href="https://github.com/jmk9000">
      <fa-icon class="footer-social" [icon]="faGithub" size="3x"></fa-icon>
    </a>

    <a href="https://www.linkedin.com/in/joel-kolata-32393067/">
      <fa-icon class="footer-social" [icon]="faLinkedin" size="3x"></fa-icon>
    </a>


  </section>
</div>
