<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
</head>
<body>
  <main>

    <section id="about">
      <h1 class="about__title">the leader in cheams.</h1>
      <h4 class="about__subtext"> &lt; and we're going to tell you all about it &gt;</h4>
    </section>

    <section id="body-gradient__container">
      <div class="body-gradient__line"></div>
      <div class="body-gradient__circle"></div>
      <h4 class="body-gradient__tagline">binnie chrinchins</h4>
    </section>

  </main>


</body>
</html>
