input.ng-dirty.ng-invalid {
    border: red solid 2px;
  }

h3 {
  margin: 3rem 0;
  text-align: center;
}

.login-form {
  margin: 0rem auto;
  width: 20rem;
}


.login-container {
  height: calc(100vh - 200px - 5rem);
  display: grid;
  align-content: start;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
