<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>



  <body>
    <header id="header">
      <app-user-header *ngIf="loggedIn"></app-user-header>
      <app-header *ngIf="!loggedIn"></app-header>
    </header>

    <div id="page-content">
      <router-outlet></router-outlet>
    </div>


    <footer id="footer">
      <app-footer></app-footer>
    </footer>
  </body>


</html>
