
.page {
  display: grid;
  margin: 0 auto;
  height: auto;
  max-width: 95vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 95vw;
  grid-template-areas: "page-user-info post";
  background-color: transparent;
}

.post {
  width: 100%;
  height: auto;
  margin: 0 auto;
  grid-area: post;
  align-self: center;
}

.card {
  border-radius: 1rem;
  height: auto;
  border: none;
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  box-shadow: 6px 6px 12px rgba(255, 210, 194, 0.5);
}

.card-body {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem auto auto;
  grid-template-areas: "date name"
                       "title title"
                       "preview preview"
}

.card-title {
  grid-area: title;
  justify-self: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
}

.name {
  font-size: 0.75rem;
  text-align: right;
  grid-area: name;
  color: rgb(0, 0, 0);
}

.date {
  font-size: 1.25rem;
  text-align: left;
  grid-area: date;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
}

.card-text {
  grid-area: preview;
  font-size: 1.5rem;
  color: rgb(159, 168, 173);
}


@media (min-width: 40rem) {
  .page {
    display: grid;
    margin: 0 auto;
    max-width: 95vw;
    grid-template-rows: auto;
    grid-template-columns: 23vw 1fr;
    grid-template-areas: "page-user-info post";
  }

  .page__title > h1 {
    font-size: 6rem;
  }

  .user-info__container {
    display:inline;
  }

  .card-body {
    display: grid;
    grid-template-rows: 4rem auto auto;
    grid-template-areas: "date name"
                         "title title"
                         "preview preview";
  }

  .card-title {
    font-size: 5rem;
  }

  .name {
    font-size: 2rem;
  }

  .date {
    font-size: 1.25rem;
  }
  .card-text {
    font-size: 3rem;
    grid-area: preview;
  }
}
