<main class="page">

  <!-- <div class="user-info__container">
    <div class="user-info">
      <ng-container *ngIf="prefs$ | async as preferences">
        <h2 class="user-info-name">{{ preferences.displayName }}</h2>
        <h6 class="user-info-bio">"{{ preferences.bio }}"</h6>
        <h6 class="user-info-lastPostDate">Dec 30, 2021</h6>
        <h6 class="user-info-misc">misc info</h6>
      </ng-container>
    </div>
  </div> -->

  <div class="post" *ngIf="post$ | async as post">
    <div class="card">
      <div class="card-body">
        <h6 *ngIf="post.postDate" class="mb-2 date">
          {{
            post.postDate ? (post.postDate.toDate() | date: "mediumDate") : ""
          }}
        </h6>
        <h6 class="mb-2 name">
          {{ post.userDisplayName ? post.userDisplayName : "" }}
        </h6>
        <h2 class="card-title mb-2">{{ post.title }}</h2>

        <p class="card-text">
          {{ post.body }}
        </p>
        <!-- <a class="btn btn-primary" (click)="goToPost(post)">go to post</a> -->
      </div>
    </div>
  </div>
</main>
