<h3>my blahgs</h3>

<div class="container-fluid">
    <div class="row" *ngFor="let post of posts">

        <div class="card" style="width: 18rem; margin-top: 10px;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{ (post.body.length>48)? (post.body | slice:0:48)+' ...':(post.body) }}</p>
            <a href="#" class="btn btn-primary">go to post</a>
            </div>
        </div>
        
    </div>


</div>
