<div class="container-fluid post__container">
  <h1 class="page__title">new blahg</h1>
  <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-group mb-3">
        <span class="input-group-text col-2" id="inputGroup-sizing-default"
          >title</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          formControlName="title"
        />
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3">
        <span class="input-group-text col-2">body</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          formControlName="body"
          rows="4"
        ></textarea>
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!newPostForm.valid"
    >
      Submit
    </button>
  </form>
</div>
