body {
  overflow: hidden;
}

main {
  display: grid;
  grid-template-rows: 30rem 40vh 100rem;
  grid-template-areas: "greeting" "gradient" "posts-content";
}

#hi {
  grid-area: greeting;
  align-self: center;
  justify-self: center;
}

#body__gradient {
  width: 100vw;
  background-image: radial-gradient(circle at 66% -166%, darkcyan, transparent 100%),
                    radial-gradient(ellipse at 133% 133%, gold, transparent 100%),
                    /* radial-gradient(circle at 66% 33%, gold, transparent 100%), */
                    radial-gradient(ellipse at 33% 66%, cadetblue, transparent 100%);
  grid-area: gradient;
}

#title {
  color: white;
}

#subtitle {
  color: white;
}

#posts {
  grid-area: posts-content;
}

.posts {
  grid-area: posts-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.post {
  width: 90%;
  height: 16rem;
  margin: 1rem auto;
}

.card {
  border-radius: 1rem;
  height: 90%;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.card:hover,
.card:active,
.card:focus {
  cursor: pointer;
  box-shadow: 6px 6px 12px rgba(255, 210, 194, 0.5);
  border-bottom: 1px solid rgb(255, 210, 194, 0.5);
  border-right: 1px solid rgb(255, 210, 194, 0.5);
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 4rem 1fr 2.5rem;
  grid-template-areas: "date name"
                       "title title"
                       "preview preview"
                       "button .";
}

.card-title {
  grid-area: title;
  justify-self: center;
  font-family: "Roboto";
  font-weight: 400;
}

.name {
  font-size: 0.75rem;
  text-align: right;
  grid-area: name;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-weight: 100;
}

.date {
  font-size: 0.75rem;
  text-align: left;
  grid-area: date;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
}

.card-text {
  grid-area: preview;
}
