body {
  overflow: hidden;
}

main {
  display: grid;
  grid-template-rows: 30rem 40vh auto;
  grid-template-areas: "greeting" "gradient" "posts-content";
}

#hi {
  grid-area: greeting;
  align-self: center;
  justify-self: center;
}

.greeting {
  font-size: 6rem;
}

.greeting__subtext {
  font-size: 2.5rem;
  font-weight: 100;
  font-style: italic;
}

#body-gradient__container {
  width: 100vw;
  position:relative;
  background-image: radial-gradient(circle at 66% -166%, darkcyan, transparent 100%),
                    radial-gradient(ellipse at 133% 133%, gold, transparent 100%),
                    /* radial-gradient(circle at 66% 33%, gold, transparent 100%), */
                    radial-gradient(ellipse at 33% 66%, cadetblue, transparent 100%);
  grid-area: gradient;
}

#body-gradient__title {
  color: white;
  position:absolute;
  right: 20%;
  top: 20%;
  font-size: 3rem;
}

#body-gradient__subtitle {
  color: white;
  position:absolute;
  right: 30%;
  top: 40%;
  font-size: 1.5rem;
}

#posts {
  grid-area: posts-content;
}

.posts {
  grid-area: posts-content;
  justify-content: center;
  display: grid;
  grid-template-columns: 0.9fr;
}

