<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <main>
      <section id="hi">
        <h1 class="greeting">hi.</h1>
        <h4 class="greeting__subtext"> &lt; welcome to the world's most important website &gt;</h4>
      </section>

      <section id="body-gradient__container">
        <h1 id="body-gradient__title">recent blahgs</h1>
        <p id="body-gradient__subtitle">see what people are blahging</p>
      </section>

      <section id="posts">
        <div class="posts">
          <ng-container *ngFor="let post of posts">
            <app-post [post]=post></app-post>
          </ng-container>
        </div>
      </section>
    </main>
  </body>
</html>
