<h1 class="page__title">recent community blahgs</h1>

<div class="container-fluid">
  <div class="row posts" #post *ngFor="let post of posts">
      <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h6 *ngIf="post.postDate" class="mb-2 date">{{ (post.postDate)? (post.postDate.toDate() | date:'mediumDate') : "" }}</h6>
            <h6 class="card-subtitle mb-2">{{ (post.userDisplayName)? post.userDisplayName : "" }}</h6>
            <h2 class="card-title">{{ post.title }}</h2>
            <hr>

            <p class="card-text">{{ (post.body.length>56)? (post.body | slice:0:56)+' ...':(post.body) }}</p>
            <a class="btn btn-primary" (click)="goToPost(post)">go to post</a>
          </div>
      </div>
  </div>
</div>
