

<div class="user-info__container">
  <div class="user-info">
    <ng-container *ngIf="prefs$ | async as preferences">
      <h2 class="user-info-name">{{ preferences.displayName }}</h2>
      <h6 class="user-info-bio">"{{ preferences.bio }}"</h6>
      <h6 class="user-info-lastPostDate">Dec 30, 2021</h6>
      <div class="user-info__socials">
        <ng-container *ngIf="preferences.linkedin">
          <a class="user-info__socials-linkedin" [href]=preferences.linkedin>
            <fa-icon class="footer-social" [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
        </ng-container>
        <ng-container *ngIf="preferences.github">
          <a class="user-info__socials-github" [href]=preferences.github>
            <fa-icon class="footer-social" [icon]="faGithub" size="2x"></fa-icon>
          </a>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>

<div class="page">
  <div class="page__title"><h1 >my blahgs</h1></div>

  <div class="posts">
    <ng-container *ngFor="let post of posts">
      <app-post [post]=post></app-post>
    </ng-container>
  </div>
</div>
