.page {
  display: grid;
  margin: 0 auto;
  height: auto;
  max-width: 95vw;
  grid-template-rows: 5rem auto;
  grid-template-columns: 0 95vw;
  grid-template-areas: ". page-title"
                      "page-user-info page-posts-list";
  background-color: transparent;
}

.page__title {
  grid-area: page-title;
  align-self: center;
  justify-self: center;
}

.page__title > h1 {
  font-size: 3rem;
}

.user-info__container {
  display: none;
  position: fixed;
  top: 20rem;
  width: 22vw;
  margin-left: 8px;
}

.user-info {
  display: grid;
  padding-left: 0.3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1.5rem 10rem 1rem;
  grid-template-areas: "user-info-name" "user-info-lastPostDate" "user-info-bio"  "user-info-misc";
  grid-row-gap: .5rem;
  font-family: "Roboto";
  font-weight: 300;
  /* grid-area: page-user-info; */
}

.user-info-name {
  grid-area: user-info-name;
  justify-self: end;
  font-size: 3rem;
  color: rgb(159, 168, 173);
}

.user-info-bio {
  font-size: 1.33rem;
  font-weight: 200;
  font-family: "Roboto Mono";
  grid-area: user-info-bio;
  justify-self: end;
  align-self: center;
}

.user-info-lastPostDate {
  font-weight: 100;
  font-style: italic;
  font-size: 1.33rem;
  grid-area: user-info-lastPostDate;
  justify-self: end;
}

.user-info-misc {
  grid-area: user-info-misc;
}

.posts {
  display: grid;
  justify-self: center;
  grid-template-columns: 100%;
  grid-row-gap:1rem;
  grid-auto-rows:max-content;
  grid-area: page-posts-list;
}



.post {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card {
  border-radius: 1rem;
  height: 100%;
  border: none;
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  box-shadow: 6px 6px 12px rgba(255, 210, 194, 0.5);
}

.card-body {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem auto auto;
  grid-template-areas: "date name"
                       "title title"
                       "preview preview"
}

.card-title {
  grid-area: title;
  justify-self: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
}

.name {
  font-size: 0.75rem;
  text-align: right;
  grid-area: name;
  color: rgb(0, 0, 0);
}

.date {
  font-size: 1.25rem;
  text-align: left;
  grid-area: date;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
}

.card-text {
  grid-area: preview;
  font-size: 1.5rem;
  color: rgb(159, 168, 173);
}

@media (min-width: 40rem) {
  .page {
    display: grid;
    margin: 0 auto;
    max-width: 95vw;
    grid-template-rows: 7rem auto;
    grid-template-columns: 23vw 1fr;
    grid-template-areas: ". page-title"
                        "page-user-info page-posts-list";
  }

  .page__title > h1 {
    font-size: 6rem;
  }

  .user-info__container {
    display:inline;
  }

  .card-body {
    display: grid;
    grid-template-rows: 4rem auto auto;
    grid-template-areas: "date name"
                         "title title"
                         "preview preview";
  }

  .card-title {
    font-size: 5rem;
  }

  .name {
    font-size: 2rem;
  }

  .date {
    font-size: 1.25rem;
  }
  .card-text {
    font-size: 3rem;
    grid-area: preview;
  }

}
